<header>
    <h1>Produits de node_db pour Tests</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/apropos">A propos</a></li>
        </ul>
    </nav>
</header>